<article>
  <h1>Nové pojištění</h1>
  <%= render "form", contract: @contract %>

  <br>

  <div>
    <%= link_to "Zobrazit seznam smluv", contracts_path, class:"button", id:"zeleny" %>
  </div>
</article>