<article>

    <header>
        <h3>O aplikaci</h3>
    </header>

    <section>
        <p>Verze: 1.0.</p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio modi reprehenderit impedit facere, ea hic a corporis recusandae unde minus commodi ducimus accusantium maiores ratione magnam dignissimos eos? Vero. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim sapiente doloremque ratione, dolor cupiditate recusandae inventore, impedit, iusto distinctio expedita odio maxime a aspernatur in voluptate dignissimos laboriosam! Voluptatem, corrupti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit ipsam perspiciatis delectus dicta architecto, assumenda cumque, eaque quis omnis cum quia repellendus minima a maiores itaque accusamus ut odio eius?
    </section>
    
</article>