<article>
  <h2>Úprava pojištěnce</h2>
  <%= render "form", policyholder: @policyholder %>
  
  <br>
  
  <div>
    <%= link_to "Otevřít záznam", @policyholder, class:"button", id:"zeleny" %>
    <%= link_to "Zobrazit seznam pojistěnců", policyholders_path, class:"button", id:"zeleny" %>
  </div>
</article>