<article>
  <p style="color: green"><%= notice %></p>
  <%= render @policyholder %>
  <div id="box">
    <%= link_to "Zobrazit seznam pojistěnců", policyholders_path, class:"button", id:"zeleny" %>
  </div>
</article>