<article>
  <p style="color: green"><%= notice %></p>
  <%= render @policy %>
  <div id="box">
    <%= link_to "Zobrazit seznam pojištění", policies_path, class:"button", id:"zeleny" %>
  </div>
</article>